<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBankingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @RenderSection("CustomCss", false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SkY Bank</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item dropdown auto-dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                    Money transfers
                                </a>
                                <div class="dropdown-menu">
                                    <a asp-controller="Transaction" asp-action="Index" class="dropdown-item">
                                        New Transfer
                                    </a>
                                    <a asp-controller="Transaction" asp-action="All" class="dropdown-item">
                                        Archives
                                    </a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown auto-dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!--<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Settings/Index">Settings</a>-->
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                                        <button type="submit" class="btn btn-link text-danger dropdown-item ">Logout</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />
    </header>


    @RenderSection("UnderNavbar", false)


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OnlineBankingSystem
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
